# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode7.3
xcode_sdk: iphonesimulator9.3
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -workspace Example/GearKit.xcworkspace -scheme GearKit-Example -sdk iphonesimulator9.3 -destination 'platform=iOS Simulator,name=iPhone 6s Plus,OS=9.3' ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
